{% extends 'store/base.html' %}
{% load static %}

{% block body %}
    
    <div class="container h-100 py-5" style="display: flex ">
        

        <div class="cart">
            

            <!-- <div class="cart-row" >
                <h3>ТОВАР</h3>
                <h3>КОЛ-ВО</h3>
                <h3>ЦЕНА</h3>
            </div> -->
            
            <div class="cart-item " >
                
                
                
                    
              



            </div>


            
            <div class="wrapper-checkout_button" style="display: flex; flex-direction: row-reverse;">
                
            </div>    
            
        
        </div>
        
     
    </div>

    

    <script src="{% static 'store/js/cart.js' %}"></script>
{% endblock %}

